<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="qnaMapper">
  
  <select id="qnaList" >
  		
  		<!-- select * from 
			(select N.*,rownum R from
				(select * from qna order by num desc)N)
		where R between #{startRow} and #{lastRow}
 -->
  				select * from qna order by num desc
  
  
  </select>
  
  
  </mapper>